/* Variables */
:root {
    --primary-color: #2C3531;
    --secondary-color: #FFCB9A;
    --secondary-color2: #D9B08C;
    --highlight-color: #D1E8E2;
    --highligh-color2: #116466;
    --highligh-color3: #042433;
    --text-color: #555;
    --border-color: #ccc;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    box-sizing: border-box;
}

.title, .banner, .icons, .buttons {
    padding: 10px;
    text-align: center;
}

/* Title Section */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title h1 {
    margin: 10px 0;
    flex-grow: 1;
}

.back-button {
    position: absolute;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color2);
    border-radius: 5px;
    color: var(--primary-color);
    padding-bottom: 5px;
}

.hide {
    display: None;
}


/* Banner Section */
.banner {
    margin-bottom: 10px;
    background-color: var(--highlight-color);
    color: var(--primary-color);
}

.banner p {
    margin: 5px 0;
}

/* Keys and Slots */
.key-container, .slot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.key-container {
    gap: 18px;
    font-family: Cambria, Serif, serif;
}

.key {
    width: 24vw;
    max-width: 120px;
    cursor: pointer;
    box-sizing: border-box;
}

.slot-container {
    gap: 10px;
}

.slot-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slot {
    width: 20vw;
    max-width: 200px;
    height: 20vw;
    max-height: 200px;
    border: 2px dashed var(--border-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slot .key {
    width: 18vw;
    max-width: 195px;
    height: 18vw;
    max-height: 195px;
}

.slot-button, .submit-button {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: var(--highlight-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Icons Section */
.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icons button {
    background-color: var(--highligh-color2);
    border-color: var(--highligh-color3);
    border-width: 1px;
    width: 10vw;
    margin: 5px 0;
    padding: 8px 2px;
    font-size: 16px;
}

.icon {
    color: var(--secondary-color);
    margin-right: 5px;
}

/* General Buttons */
.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    width: 45%;
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
}

/* Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.overlay-content {
    width: 80%;
    max-width: 500px;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s;
}

.overlay-content.correct h2 {
    color: #28a745;
}

.overlay-content.wrong h2 {
    color: #dc3545;
}

.overlay-content.finished h2 {
    color: #ffc107;
}

.overlay-content p {
    font-size: 1.2em;
    margin: 10px 0;
    color: var(--text-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
